@media (min-width: 1080px) {
  .insertbox {
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
  }
  .donotknow {
    margin-left: -8%;
  }
}

@media (min-width:375px) and (max-width:425px) {
    .insertbox{
        margin-left: 10%;
        margin-top: 10%;
        width:85%;
        font-size: 0.8rem;
    }
}
@media (max-width: 425px) {
  .donotknow{
    font-size:0.8rem;
  }
  .viewbtn{
    font-size: 0.8rem;
    width:50%;
  }

}