@media (max-width: 426px)  {
  .main-card {
    width: 100%;
    margin-top: 20%;
    margin-top: 40%;
    font-size: 0.8rem;
    margin-left: 5%;
  }
  .navbarr{
    font-size: 0.8rem;
  }

.img-fluid {
  max-width: 10rem;
  height: auto;
}
}
@media (min-width:768px){
  .main-card{
    width:90%;
    margin-left: 20%;
    margin-top: -60%;
  }
}
@media(min-width:1024px){
  .main-card{
    width:90%;
    margin-left: 20%;
    margin-top: -40%;
  }
}
@media (min-width: 1080px) {
  .main-card {
    width: 80%;
    margin-left: 20%;
    margin-top: 0%;
  }
}
.img-fluid {
  max-width: 10rem;
  height: auto;
}



