@media (max-width:426px) {
    .footer1{
        height: 8rem;
        margin-top:-0.2% ;
        font-size: 0.7rem;
    }
}
@media (min-width:768px) {
    .footer1{
        height: 5rem;
        margin-top:-0.2% ;
        font-size: 0.7rem;
    }
}
@media (min-width: 1024px) {
    .footer1{
        height: 5rem;
        margin-top:-0.2% ;
        font-size: 0.8rem;
    }
}
@media (min-width: 1080px) {
    .footer1{
        font-size: 1rem;
    }
}