@media (max-width: 425px) {
    .policy1 {
      width: 100%;
      margin-top: 10%;
      font-size: 0.8rem;
    }
  }
  @media (min-width: 425px) and (max-width: 1080px) {
    .policy1 {
      width: 80%;
      margin-left: 16%;
      margin-top: 2%;
    }
  }
  @media (min-width: 1080px) {
    .policy1 {
      width: 60%;
      margin-left: 20%;
      margin-top: 10%;
    }
  }
  