@media (max-width: 426px) {
  .yourtrans {
    width: 100%;
    margin-top: 6%;
  }
  .earnbtn{
    margin-left: 40%;
    margin-top: -2%;
  }
  .transbtn{
    margin-top: 2%;
    margin-left: 37%;
  }
  .downbtn{
    margin-left: 32%;
    margin-top: 2%;
  }
}
@media (min-width: 768px) {
  .yourtrans {
    width: 75%;
    margin-left: 20%;
    margin-top: -40%;
  }
  .earnbtn{
    margin-left: 15%;
  }
  .transbtn{
    margin-left: 6%;
  }
  .downbtn{
    margin-left: 6%;
  }
}
@media (min-width: 1024px) {
  .yourtrans {
    width: 60%;
    margin-left: 25%;
    margin-top: -25%;
  }
  .earnbtn{
    margin-left: 15%;
  }
  .transbtn{
    margin-left: 6%;
  }
  .downbtn{
    margin-left: 6%;
  }
}
@media (min-width: 1080px) {
  .yourtrans {
    width: 60%;
    margin-left: 25%;
    margin-top: -20%;
  }
  .earnbtn{
    margin-left: 25%;
  }
  .transbtn{
    margin-left: 6%;
  }
  .downbtn{
    margin-left: 6%;
  }
}